torch==2.2.2
sentence-transformers==2.6.1
transformers==4.42.4
huggingface-hub>=0.23.2
langchain==0.1.17
langchain_community==0.0.36
langchain_huggingface==0.0.3
langchain_chroma==0.1.4
chromadb>=0.4.36
protobuf==4.24.4
pydantic>=2.0.0,<3.0.0
python-dotenv==1.0.1
tqdm==4.66.1
requests==2.32.3
pypdf2==3.0.1
python-magic==0.4.27
docling==2.15.0
tokenizers==0.19.1